
.vs/IronSightRipper/v15/.suo
.vs/IronSightRipper/v15/.suo
.vs/IronSightRipper/v15/Server/sqlite3/storage.ide
.vs/IronSightRipper/v15/Server/sqlite3/storage.ide-shm
.vs/IronSightRipper/v15/Server/sqlite3/storage.ide-wal
